body{margin: 0px;

}

html{scroll-behavior: smooth;

}
@media screen and (max-width:440px){

    /*HEADER (FIXED) */
    header{
        background-color:#FFFDC0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 99;

    }

    #title{text-align: center;
        font-family: "Bagel Fat One", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    #logo{width: 100%;

    }

    #user{width: 70%;

    }

    #account{
    text-align: center;
    margin: 0px;
    font-family:"Roboto", sans-serif;
    font-size: 15px;

    }


    .headdiv2{align-items: center;
        width: 40%;
        height: 90%;

    }

    
    .headdiv1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

    }

    .building{
        width: 90%;

    }
    .colordiv{background-color: #E9F5FD

    }


    #header2{
        z-index: 3;

    }









    /*LISTING SECTION (ELLA)*/


    .bigdiv1{background-color: #E9F5FD;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 120px;
        padding-bottom: 20px;

    }

    .bigdiv2{background-color: #E9F5FD;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom:20px;

    }


    .addlist{list-style: none;
        padding-inline-start: 0;
        margin-bottom: 40px;
        margin-top: 40px;

    }


    .smalldiv{background-color: #F7E3EC;
        margin:10px;
        padding:10px

    }

    .listheader{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: #F85583;
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top:10px;

    }

    .desctext{font-family:"Roboto", sans-serif;
        color: black;
        background-color: white;
        border-radius: 5px;
        padding:10px

    }

    .addline{font-family:"Roboto", sans-serif;
        color: black;

    }

    .infosec{display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

    }

    .infosectext{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: black;
        background-color: #FFFCA8;
        border-radius: 50px;
        font-size: 30px;
        padding: 10px;

        width: 60%;
        margin: 10px;

    }

    #listingbig{
        opacity: 1;

    }

    #indi{display: none;
        padding-top: 100px;


    }

    #arrowdiv{display: flex;
        justify-content: flex-start;

    }

    #headdiv{display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #FF8EAE;
        height: 100px;
        width: 70%;

    }

    #bighdiv{display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;

    }

    #headtop{text-align: center;
        font-size: 40px;
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: white;


    }

    #builddiv{display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

    }

    .colordiv1{background-color: #F7E3EC;
        padding-left: 20px;
        padding-right: 20px;

    }

    .infosectextl{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: black;
        font-size: 30px;

    }

    .yellowdiv{ background-color: #FFFCA8;
        border-radius: 50px;
        height:40px;
        padding: 5px;
        display: flex;
        align-items: center;
        margin-top: 30px;

        width: 80%;

    }

    #des{font-family:"Roboto", sans-serif;
        color: black;
        background-color: white;
        border-radius: 5px;
        padding:10px


    }

    #address{list-style: none;
        padding-inline-start: 0%;
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 20px;
        

    }

    #pricelis{list-style: none;
        padding-inline-start: 0%;
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 20px;
        border: 3px solid #FFFCA8;
        padding: 40px 20px 40px 20px;
        border-radius: 40px;
        width: 60%;

    }

    #cond{
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: #F85583;

    }

    .reward{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 20px;

    }

    #booknow{background-color: white;
        color: #00A9FE;
        border: none;
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        text-decoration: underline;
        border-radius: 40px;
        font-size: 40px;
        margin-bottom: 30px;

    }

    #rewardtl{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        background-color: #9FD6ED;
        color: #FFFDC0;
        width: 40%;
        border-radius: 40px;
        font-size: 30px;
        text-align: center;

    }

<<<<<<< HEAD

    /*BOOKING*/

    #bookingbig, #bookingbig1{
        padding-top: 100px;
    }

    #rev{
        background-color: #fffee7;
        display: flex;
        align-items: center;

        justify-content: flex-start;
    }

    #revarrow{
        width: 10%;
        padding-right: 15px;
        padding-left: 15px;
        height: 10%;
    }

    #revh{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        font-size: 25px;

    }

    #pinkr{background-color: #F7E3EC;
        display: flex;
        justify-content: center;
        margin:10px;
        border-radius: 30px;
        padding: 15px;

    }

    #userr{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height:100%;
    margin-right: 10px
    }

    #detr{
        display: flex;
        flex-direction: column;
    }

    #adultr{margin: 0px;
        font-family:"Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;

    }

    #warnr{
        font-family:"Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;

    }

    #bluer{background-color: #E9F5FD;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        margin:20px;
        padding: 10px;
        border-radius: 30px;

    }

    #userr1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height:100%;
        margin-right: 10px
        
    }

    #accr{
        margin: 0px;
        font-family:"Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
    #detr1{
        font-family:"Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;

    }

    .liner li{font-family:"Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        list-style: none;

    }

    .liner{padding-inline-start: 0px;
        margin:10px

    }

    #white{
        display: flex;
        justify-content: center;
        background-color: white;
        margin: 20px;
        border-radius: 30px;
    }

    #pinkbig{display: flex;
        flex-direction: column;
        background-color:#F7E3EC;
        margin: 10px;
        border-radius: 30px;

    }

    #warnr1{font-family:"Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        list-style: none;
        color: #886464;
        margin: 20px;

    }
    #buttonp{
        background-color: #FF8EAE;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin: 10px;
    }

    #buttonb{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #con{
        text-align: center;
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: white;
        font-size: 25px;
    }





    #arrowdiv1{
        width: 90%;
        margin: 20px;
        display: flex;
    }

    #check1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #congrats{font-family:"Roboto", sans-serif;
        font-size: 30px;
        font-weight: 400;

    }

    #emailc{
        text-align: center;
        font-family: "DynaPuff", system-ui;
        font-size: 15px;
    }

    #viewd{
        background-color: #9FD6ED;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        gap: 30px;
    }

    #save{border-left:5px solid white;
        display: flex;
        justify-content: center;

    }
    
=======
>>>>>>> parent of e63d6dd (update fixed bug html)
    













    /* FOOTER*/
    footer{background-color: #9CC2D1;
        padding:0px 0px 15px 15px;

    }


    #links{list-style: none;
        padding-inline-start: 0;

    }

    #ftitle{font-family: "DynaPuff", system-ui;
        color: white;
        font-weight: 30;
        font-size: 35px;
        margin: 0px;

    }

    #ftitletwo{font-family: "DynaPuff", system-ui;
        color: #F85583;
        font-weight: 30;
        margin-top: 50px;

    }

    .footerl{font-family:"Roboto", sans-serif;
        color: black;

    }

    .space{margin-top: 40px;
        margin-bottom: 20px;

    }

    #buttonf{font-family: "DynaPuff", system-ui;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 30;
        border-radius: 50px;
        background-color: #FFFCA8;
        width: 70%;
        height: 30px;
        font-size: 30px;
        padding: 5px;

    }

    #color{color: #F85583;

    }

    #social{display: flex;
        justify-content: flex-start;
        gap: 10px;

    }




}