body {
  margin: 0px;
  padding-bottom: 0px;
  max-width: 700px;
  margin: 0 auto;
 
    
  }
   .section {
    display: none;
  }



  

 
html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 440px) {
  /*HEADER (FIXED) */
  #hero {
    background-color: initial;
  }

 
   
  

}
@media screen and (max-width:440px){

    /*HEADER (FIXED) */
  header{
    background-color:#FFFDC0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
  }

  #title {
    text-align: center;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }



  #logo{width: 100%;

  }


  #user {
    width: 70%;
    text-align: center;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  } 

  #account {
    text-align: center;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
  } 

  #headdiv2 {
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40%;
    display: flex;
  }

  .headdiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    }


    .headdiv2{align-items: center;
        width: 40%;
        height: 90%;

    }

    
    .headdiv1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

    }

    .building{
        width: 90%;

    }
    .colordiv{background-color: #E9F5FD

    }


    #header2{
        z-index: 3;

    }



    /* Account Section */
    
    .account-page {
        padding: 20px;
        background-color: #E9F5FD;
        display: none;
        padding-top: 120px;
    }

    .inputs {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    h4 {
        font-family: "DynaPuff", system-ui;
        color: #fff;
        font-weight: lighter;
        background-color: #9FD6ED;
        padding: 10px 20px;
        border-radius: 50px;


        
    }


    #howto {
        font-family: "DynaPuff", system-ui;
        color: #fff;
        background-color: #FF8EAE;
        padding: 15px;
        border-radius: 50px;
        text-align: center;
        font-size: 32px;
        margin-bottom: 2rem 2rem;
        font-weight: lighter;
    }

    .profile-picture {
        text-align: center;
        position: relative;
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .profile-picture img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-picture span {
        display: block;
        font-size: 20px;
        color: #000;
    }

    .upload-label {
        margin-top: 10px;
        display: block;
        color: #007bff;
        cursor: pointer;
        font-size: 14px;
    }
    
    #usernameDisplay {
        align-self: center;
        margin: none;
        padding: none;
    }

    #usernameHandle {
        font-family:"Roboto", sans-serif;
        color: #000;
        font-size: 24px;
    }

    .tab-button {
        font-family: "DynaPuff", system-ui;
        background: #FF8EAE;
        color: #FFFFFF;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 25px;
        width: auto;
    }

    .tab-button:hover {
        background-color: #9FD6ED;
    }

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }

    input[type="file"] {
        display: none;
    }

    .form-group {
        margin-top: 15px;
    }

    label {
        font-family:"Roboto", sans-serif;
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: auto;
        padding: 10px;
        background-color: #F5F5F5;
        border: none;
        border-radius: 5px;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    button {
        font-family: "DynaPuff", system-ui;
        background-color: #9FD6ED;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        width: auto;
        transition: background-color 0.3s ease;
    }

    #deleteButton {
        background-color: #f42e2e;
    }

    #saveButton {
        margin-top: 30px;
    }





    /*LISTING SECTION (ELLA)*/


    .bigdiv1{background-color: #E9F5FD;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 120px;
        padding-bottom: 20px;

    }

    .bigdiv2{background-color: #E9F5FD;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom:20px;

    }


    .addlist{list-style: none;
        padding-inline-start: 0;
        margin-bottom: 40px;
        margin-top: 40px;

    }


    .smalldiv{background-color: #F7E3EC;
        margin:10px;
        padding:10px

    }

    .listheader{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: #F85583;
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top:10px;

    }

    .desctext{font-family:"Roboto", sans-serif;
        color: black;
        background-color: white;
        border-radius: 5px;
        padding:10px

    }

    .addline{font-family:"Roboto", sans-serif;
        color: black;

    }

    .infosec{display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

    }

    .infosectext{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: black;
        background-color: #FFFCA8;
        border-radius: 50px;
        font-size: 30px;
        padding: 10px;

        width: 60%;
        margin: 10px;

    }

    #listingbig{
        opacity: 1;
        display: none;

    }

    #indi{display: none;
        padding-top: 100px;


    }

    #arrowdiv{display: flex;
        justify-content: flex-start;

    }

    #headdiv{display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #FF8EAE;
        height: 100px;
        width: 70%;

    }

    #bighdiv{display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;

    }

    #headtop{text-align: center;
        font-size: 40px;
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: white;


    }

    #builddiv{display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

    }

    .colordiv1{background-color: #F7E3EC;
        padding-left: 20px;
        padding-right: 20px;

    }

    .infosectextl{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: black;
        font-size: 30px;

    }

    .yellowdiv{ background-color: #FFFCA8;
        border-radius: 50px;
        height:40px;
        padding: 5px;
        display: flex;
        align-items: center;
        margin-top: 30px;

        width: 80%;

    }

    #des{font-family:"Roboto", sans-serif;
        color: black;
        background-color: white;
        border-radius: 5px;
        padding:10px


    }

    #address{list-style: none;
        padding-inline-start: 0%;
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 20px;
        

    }

    #pricelis{list-style: none;
        padding-inline-start: 0%;
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 20px;
        border: 3px solid #FFFCA8;
        padding: 40px 20px 40px 20px;
        border-radius: 40px;
        width: 60%;

    }

    #cond{
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: #F85583;

    }

    .reward{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 20px;

    }

    #booknow{background-color: white;
        color: #00A9FE;
        border: none;
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        text-decoration: underline;
        border-radius: 40px;
        font-size: 40px;
        margin-bottom: 30px;

    }

    #rewardtl{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        background-color: #9FD6ED;
        color: #FFFDC0;
        width: 40%;
        border-radius: 40px;
        font-size: 30px;
        text-align: center;

    }


    /*BOOKING*/

    #bookingbig, #bookingbig1{
        padding-top: 100px;
    }

    #bookingbig{
        display: none;
    }

    #bookingbig1{
        display: none;
    }

    #rev{
        background-color: #fffee7;
        display: flex;
        align-items: center;

        justify-content: flex-start;
    }

    #revarrow{
        width: 10%;
        padding-right: 15px;
        padding-left: 15px;
        height: 10%;
    }

    #revh{font-family: "DynaPuff", system-ui;
        font-weight: 30;
        font-size: 25px;

    }

    #pinkr{background-color: #F7E3EC;
        display: flex;
        justify-content: center;
        margin:10px;
        border-radius: 30px;
        padding: 15px;

    }

    #userr{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height:100%;
    margin-right: 10px
    }

    #detr{
        display: flex;
        flex-direction: column;
    }

    #adultr{margin: 0px;
        font-family:"Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;

    }

    #warnr{
        font-family:"Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;

    }

    #bluer{background-color: #E9F5FD;
        display: flex;
        align-items: center;
        gap:10px;
        margin:20px;
        padding: 10px;
        border-radius: 30px;

    }

    #userr1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height:100%;
        margin-right: 10px;
        width: 20%;
        
    }

    #accr{
        margin: 0px 0px 30px 0px;
        font-family:"Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
    .detr1{
        font-family:"Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 5px;

    }

    #accdivr{
        width: 50%;
        margin-left: 10px;
        word-wrap: break-word;
    }

    .liner li{font-family:"Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        list-style: none;

    }

    .liner{padding-inline-start: 0px;
        margin:10px

    }

    #white{
        display: flex;
        justify-content: center;
        background-color: white;
        margin: 20px;
        border-radius: 30px;
    }

    #pinkbig{display: flex;
        flex-direction: column;
        background-color:#F7E3EC;
        margin: 10px;
        border-radius: 30px;

    }

    #warnr1{font-family:"Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        list-style: none;
        color: #886464;
        margin: 20px;

    }
    #buttonp{
        background-color: #FF8EAE;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin: 10px;
        border-radius: 30px;
    }

    #buttonb{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #con{
        text-align: center;
        font-family: "DynaPuff", system-ui;
        font-weight: 30;
        color: white;
        font-size: 25px;
    }

    #checkm{
        width: 50%;
    }





    #arrowdiv1{
        width: 90%;
        margin: 20px;
        display: flex;
    }

    #check1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #congrats{font-family:"Roboto", sans-serif;
        font-size: 30px;
        font-weight: 400;

    }

    #emailc{
        text-align: center;
        font-family: "DynaPuff", system-ui;
        font-size: 15px;
    }

    #viewd{
        background-color: #9FD6ED;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        gap: 30px;
    }

    #save{border-left:5px solid white;
        display: flex;
        justify-content: center;

    }

    .img1{
        width: 90%;
        margin-top: 10px;
    }
    
    #viewdtext{font-family: "DynaPuff", system-ui;
        font-size: 15px;
        color: white;

    }

    #saveimg{
        margin-left: 10px;
    }

    #checkmore{font-family: "DynaPuff", system-ui;
        font-size: 30px;
        color: #F85583;
        font-weight: 400;
        margin:40px 0px 40px 10px;

    }

    #morel{
        background-color: #E9F5FD;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .morebig{display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F7E3EC;
        border-radius: 30px;
        margin: 30px;

    }

    .mored{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap:35px;
        width: 100%;
    }

    .morediv{
        background-color: #FFFCA8;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        width: 100%;
        border-radius: 40px;
    }

    .moredivt{
        text-align: center;
        font-family: "DynaPuff", system-ui;
        font-size: 20px;
        color: #F85583;
        width: 100%;
    }
    

  .building {
    width: 90%;
  }
  .colordiv {
    background-color: #e9f5fd;
  }

  #header2 {
    z-index: 3;
  }

  #hero{
      
    background: url("../img/puzzled-bckgrd.png") no-repeat center center;
    background-size: cover;
    min-height:100vh;            
    display:flex;
    align-items:center;
    justify-content:center;
  }
    
    
  .hero-content{
    text-align:center;
    padding:20px;
    border-radius:20px;
    color:#f85583;
  }

  
   
  




  .headtag{
    font-family: "DynaPuff", cursive;
    font-size: 10vw;
    margin: 60px 0;
    text-align: center;
    color: #f85583;
  }

  .about1 {
    font-size: 1rem;
    color: #444;
   max-width: 600px;
   margin: 24px;
    line-height: 1.5;
  }


  .explore-btn {
    padding: 10px 30px;
    text-decoration: underline;
    background-color: white;
    color: #00A9FE;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 30px;
    transition: background 0.3s ease;
  }

  .explore-btn:focus {
    outline: 3px solid #00A9FE;
    outline-offset: 4px;
  }


  .explore-btn:hover {
   background-color: #f85583;
  }
  

  /* MAP SECTION */

   #map {
    width: 90%;
    height: 400px;
    border: none;
    border-radius: 15px;
    max-width: 1000px;
  } 
   
  #mapsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .four{
    width: 40%;
    margin: 10px;
  }

  .howheading{
    font-family: "DynaPuff", cursive;
    font-size: 10vw;
    margin: 60px 0;
    text-align: center;
    color: #9cc2d1;

  }

  .about1{font-family: "Roboto", sans-serif;
    color: black;

  }

  #about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .fourimg{
    display: flex;
    justify-content: center;
  }

  #triangle{
    width: 90%;

  }




    
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    justify-items: center;
  }
  
  .image-grid img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .image-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
    

  
  

    /* HOW TO PLAY SECTION */

  #how-to-play {
    padding: 40px 20px;
    background-color: #fff8e1;
    text-align: center;
  }
  

  .how-to-play h3 {
    font-size: 2rem;
    color: #f85583;
    font-family: "DynaPuff", sans-serif;
    margin: 60px 0;
    text-align: center;

  }

  .how-to-play .about1 {
    font-size: 1rem;
    color: #444;
    max-width: 600px;
    margin: 0 auto 24px;
    line-height: 1.5;
  }


  .round-img {
    width: 70px;
    height: 70px;
    object-fit:none;
    border-radius: 50%;
    transition: transform 0.3s ease;
    justify-content: space-between;
    align-items: center;
  }





  /* FOOTER*/
  footer {
    background-color: #9cc2d1;
    padding: 0px 0px 15px 15px;
  }

  #links {
    list-style: none;
    padding-inline-start: 0;
  }

  #ftitle {
    font-family: "DynaPuff", system-ui;
    color: white;
    font-weight: 30;
    font-size: 10vw;
    margin: 0px;
  }

  #ftitletwo {
    font-family: "DynaPuff", system-ui;
    color: #f85583;
    font-weight: 30;
    margin-top: 50px;
  }

  .footerl {
    font-family: "Roboto", sans-serif;
    color: black;
  }

  .space {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  #buttonf {
    font-family: "DynaPuff", system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 30;
    border-radius: 50px;
    background-color: #fffca8;
    width: 70%;
    height: 30px;
    font-size: 30px;
    padding: 5px;
  }

  #color {
    color: #f85583;
  }

  #social {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
  }

  .media{
    width: 10%;
  }
}


  

  


